@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
@import 'colors.scss';
@import 'header.scss';
@import 'home.scss';
@import 'cart.scss';
@import 'mediaquery.scss';

*{
    margin: 0%;
    padding: 0%;
    font-family: "Roboto",sans-serif;
    text-decoration: none;
    box-sizing: border-box;
}
body{
    background-color: $primary;
}