@import 'colors';

nav {
    background-color: $secondary;
    display: flex;
    justify-content: space-between;
    padding: 0 2rem;


   > h2{
        text-transform: uppercase;
        color: $primary;
    }

    >div {
        display: flex;
        align-items: center;


        > a {
            color: $primary;
            font-size: 1.2rem;
            margin: 0 1rem;
            transition: all 0.3s;
            &:hover {
                opacity: 0.5;
            }
            >p{
                position: absolute;
                background-color: $tertiary;
                border-radius: 50%;
                height: 15px;
                width: 15px;
                display: grid;
                place-items: center;
                font: 900 0.7rem "Roboto";
                transform: translate(80%,-80%);
            }
        }
    }

}